{{ define "content" }}
<div class="container">
    <div class="row">
        <div class="col">
            {{ partial "breadcrumb.html" . }}
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            {{ .Title }}
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col">
            {{ partial "paginator-pages.html" . }}
        </div>
    </div>

    <br />
    <!-- list sub -->
    <div class="row">
        <div class="col">
            <div class="card text-left" style="border: none">
                <div class="card-block">
                    <h4 class="card-title">相关专题</h4>
                </div>

                <div class="card-block">
                    {{ range .Sections }}
                    <a class="card-link" role="button" href="{{ .Permalink }}">{{ .Title }}
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}