{{ define "content" }}
<!-- <div class="row">
    <div class="page-header">
        <ol class="breadcrumb">
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li><a href="{{ .Site.BaseURL }}{{ .Section }}">{{ .Section }}</a></li>
            <li class="active">{{ .Title }}</li>
        </ol>
    </div>
</div> -->
<div class="container">
    <div class="row">
        <div class="col">
            {{ partial "breadcrumb.html" . }}
        </div>
    </div>

    <!-- title -->
    <div class="row">
        <div class="col">
            <blockquote class="blockquote text-center">
                <h1 class="mb-0">{{ .Title }}</h1>
                <footer class="blockquote-footer">{{ .Site.Author.name }}, {{ .Lastmod.Format "2006-01-02 15:04:05" }}</footer>
            </blockquote>
            <hr />
        </div>
    </div>

    <!-- blog content -->
    <div class="row">
        <div class="col">
            <article>{{ .Content }}</article>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr />
            <blockquote class="blockquote text-center">
                <small class="mb-0">
                    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                        <img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
                    </a>
                    <br />
                    本作品采用<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">知识共享署名 4.0 国际许可协议</a>进行许可。
                </small>
            </blockquote>
            <hr />
        </div>
    </div>
</div>
{{ end }}